﻿@using GDESK.CORE.Extension
@using GDESK.CORE.UserControl
@using GDESK.CORE.ViewModel.Control
<!-- Row start -->
<div class="row">
    <div class="col-md-4">
        <div class="widget">
            <div class="widget-header">
                <div class="title">
                    <span class="fs1" aria-hidden="true" data-icon="&#xe096;"></span> Ferramentas
                </div>
            </div>
            <div class="widget-body">
                <a data-toggle="modal" href="#showModal" class="btn btn-primary btn-block">Recuperar Senha</a>

                <!-- Modal -->
                <div class="modal fade" id="showModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Recuperar Senha</h4>
                            </div>
                            <div class="modal-body">
                                <form class="form-horizontal" name="frmCadastrarEmpresa" role="form">
                                    <div class="form-group">
                                        <label class="control-label">Empresa</label>
                                        <select class="Empresa" onchange="EmpresaChange($(this).find('option:selected').val())">
                                            <option value='0'>Selecione...</option>
                                            @foreach (var item in Suporte.DropDownEmpresa())
                                            {
                                                <option value="@item.Key">@item.Value</option>
                                            }
                                        </select>
                                       
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Usuario</label>
                                        <select class="Usuario" onchange="OnUsuarioChange(parseInt($(this).find('option:selected').val()))">
                                            <option>Selecione</option>
                                        </select>

                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Email</label>
                                        <input type="email" name="email" placeholder="Email contato" class="form-control" />

                                    </div>

                                        <div id="Success" class="alert alert-info fade in no-margin" style="display: none">
                                            <p>
                                                Email enviado com sucesso !
                                            </p>

                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                @*<button type="button" class="btn btn-primary">Recuperar</button>*@
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Row end -->
<script type="text/javascript">

    $(".Usuario").chosen();
    $(".Empresa").chosen();

    function EmpresaChange(codigoEmpresa) {
        $("#Success p").text('');
        $("#Success").hide('slow');
        $("form input[name=email]").val("");
        $('.Usuario').html('<option>Procurando...</option>');

        $.getJSON('/Geral/Solicitantes', { codigoEmpresa: codigoEmpresa }, function (data) {
            var options = "<option value='0'>Selecione...</option>";

            if(data.length==0) {
                $('.Usuario').html('<option>Nenhum resultado encontrado</option>');
                $('.Usuario').trigger("chosen:updated");
                return;
            };

            $(data).each(function () {
                options += "<option value='" + $(this).prop('value') + "'>" + $(this).prop('text') + "</option>";
            });
            $('.Usuario').html(options);
            $('.Usuario').trigger("chosen:updated");


        });
    }

    function  OnUsuarioChange(codigoUsuario) {
        if (codigoUsuario == 0) {
            $("form input[name=email]").val("");
            return;
        }
       
        $.getJSON('/Geral/Solicitante', { codigoUsuario: codigoUsuario }, function (data) {
            $("form input[name=email]").val(data.Email);
            $("#Success").find('p').text("Login: " + data.Login + ", Senha: "+ data.Senha);
            $("#Success").show('slow');
        });
    }
</script>