﻿@model IEnumerable<GDESK.CORE.ViewModel.Page.TimeSheetViewModel>

@using GDESK.CORE.Extension
@using GDESK.CORE.UserControl
@using GDESK.CORE.ViewModel.Control
@{
    ViewBag.Title = "TimeSheet Online";
    Layout = "~/Views/Layouts/_LayoutMain.cshtml";
    ViewBag.Header = "TimeSheet";
}
<div class="row">
    <div class="col-md-12">
        <div class="widget">
            <div class="widget-header">
                <div class="title">
                    <span class="fs1" aria-hidden="true" data-icon=""></span>Olá @Suporte.UsuarioLogado.Nome , oque você deseja fazer?
                </div>
            </div>
            <div class="widget-body">
                <div class="row">
                    <div class="col-md-12 col-sm-4">
                        <button type="button" data-toggle="modal" href="#showModal" class="btn btn-primary btn-block" data-original-title="">Criar Apontamento</button>

                    </div>

                </div>
            </div>
        </div>
    </div>

    @if (Suporte.UsuarioLogado.Gerente)
    {
        <div class="col-md-12">
            <div class="widget">
                <div class="widget-header">
                    <div class="title">
                        <span class="fs1" aria-hidden="true" data-icon=""></span>Gerencia
                    </div>
                </div>
                <div class="widget-body">
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" id="btnAprovar" class="btn btn-success btn-block" data-original-title="">Salvar Aprovaçoes</button>
                        </div>

                        <div class="col-md-6">
                            @using (Html.BeginForm("Index", "TimeSheet", FormMethod.Post))
                            {
                    
                                <div class="form-group">
                                    <div class="col-md-10">
                                        @Html.AutoCompleteList(new AutoCompleteViewModel { Items = Suporte.DropDownAnalista(), Nome = "codigoAnalista", PlaceHolder = "Selecione o analista" })
                                        <input type="hidden" name="codigoMes" value="@ViewBag.CodigoMes" class="form-control">
                                    </div>
                                    <div class="col-md-2">
                                        <input type="submit" id="btnEnviar" class="btn btn-primary" value="Buscar" />
                                    </div>
                                    <br />
                                </div>
                             
                            }
                        </div>

                    </div>
                       <div class="row">
                           <label>Recursos aguardando aprovação</label> 
                           
                           @foreach (var recurso in ViewBag.Recursos)
                           { 
                               <span class="label label-default">@recurso</span>
                           }
                          
                                </div>
                </div>
            </div>
        </div>
    }

</div>
<div class="row">

    <div class="col-md-12">
        <div class="widget no-margin">
            <div class="widget-header">
                <div class="title">
                    <span class="fs1" aria-hidden="true" data-icon=""></span>Meus apontamentos, Mês @ViewBag.Mes , @ViewBag.AnoApontamento


                    <br />
                </div>


            </div>

            <table id="tbApontamentos" class="table table-bordered table-condensed table-striped ">
                <thead>
                    <tr>

                        <th>Dia</th>
                        <th>Entrada</th>
                        <th>Saida</th>
                        <th>Entrada</th>
                        <th>Saida</th>
                        <th>Total Horas</th>
                        <th>Tipo de Hora</th>
                        <th>Projeto</th>
                        <th>Status</th>
                        <th>Recurso</th>
                        @if (Suporte.UsuarioLogado.Gerente)
                        {
                            <th class="text-center">Aprovar</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var sheet in Model)
                    {
                        <tr>

                            <td>@sheet.DiaApontamento</td>
                            <td>@((sheet.EntradaPrimeiroPeriodo ?? new TimeSpan(0)).ToString("c"))</td>
                            <td>@((sheet.SaidaPrimeiroPeriodo ?? new TimeSpan(0)).ToString("c"))</td>
                            <td>@((sheet.EntradaSegundoPeriodo?? new TimeSpan(0)).ToString("c"))</td>
                            <td>@((sheet.SaidaSegundoPeriodo?? new TimeSpan(0)).ToString("c"))</td>
                            <td>@((sheet.TotalHoras ?? new TimeSpan(0)).ToString("c"))</td>
                            <td>@sheet.TipoHora</td>
                            <td>
                                @sheet.DescricaoProjeto
                            </td>
                            <td>@sheet.Status</td>
                            <td>@sheet.NomeFuncionario</td>
                            @if (Suporte.UsuarioLogado.Gerente)
                            {
                                <td class="text-center">

                                    <input type="checkbox" value="@sheet.CodigoFuncionario" name="@sheet.Codigo" checked="@sheet.Aprovado">
                                </td>
                            }
                        </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="widget no-margin">
            <div class="widget-header">
                <div class="title">
                    <span class="fs1" aria-hidden="true" data-icon=""></span>Visal Geral
                </div>
            </div>

            <table class="table table-bordered table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Tipo de Hora</th>
                        <th>Apontado</th>
                        <th>Aprovado</th>
                        <th>Reprovado</th>
                        <th>Total Aprovado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="active">
                        <td>Normal</td>
                        <td>@ViewBag.TotalApontado</td>
                        <td>@ViewBag.TotalAprovado</td>
                        <td>@ViewBag.TotalReprovado</td>
                        <td>@ViewBag.TotalAprovado</td>
                    </tr>

                    <tr class="active">
                        <td>Extra</td>
                        <td>@ViewBag.TotalApontadoExtra</td>
                        <td>@ViewBag.TotalAprovadoExtra</td>
                        <td>@ViewBag.TotalReprovadoExtra</td>
                        <td>@ViewBag.TotalAprovadoExtra</td>
                    </tr>
                    
                    <tr class="active">
                        <td>Total</td>
                        <td>@(ViewBag.TotalApontadoExtra + ViewBag.TotalApontado)</td>
                        <td>@(ViewBag.TotalAprovadoExtra + ViewBag.TotalAprovado)</td>
                        <td>@(ViewBag.TotalReprovadoExtra + ViewBag.TotalReprovado)</td>
                        <td>@(ViewBag.TotalAprovadoExtra + ViewBag.TotalAprovado)</td>
                    </tr>    
                </tbody>
            </table>

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="showModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-time"></span>Apontamento diario</h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-default">

                    <div class="panel-heading">Apontamento de Horas - Referência  @ViewBag.Mes</div>
                    <div class="panel-body">
                        <p>Recurso: @Suporte.UsuarioLogado.Nome</p>

                    </div>

                    <div class="panel-heading">Adição/Manutenção de Apontamentos</div>
                    <div class="panel-body">
                        <form name="formApontamento">
                            <table class="table">

                                <tr>
                                    <td>Dias
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <span class="input-group-addon">De</span>
                                            <input type="hidden" name="Codigo" class="form-control">
                                            <input type="hidden" name="CodigoFuncionario" value="@Suporte.UsuarioLogado.CodigoUsuario" class="form-control">
                                            <input type="hidden" name="NomeFuncionario" value="@Suporte.UsuarioLogado.Nome" class="form-control">
                                            <input type="hidden" name="MesApontamento" value="@ViewBag.CodigoMes" class="form-control">
                                            <input type="hidden" name="AnoApontamento" value="@ViewBag.AnoApontamento" class="form-control">
                                            <input type="number" name="DiaDe" value="@ViewBag.DiaDe" class="form-control">
                                        </div>

                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <span class="input-group-addon">Até</span>
                                            <input type="number" name="DiaAte" value="@ViewBag.DiaAte" class="form-control">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tipo de hora
                                    </td>
                                    <td>
                                        <select name="TipoHora" class="form-control input-sm">
                                            <option value="1">Normal</option>
                                            <option value="2">Extra</option>

                                        </select>
                                    </td>
                                    <td>
                                        <p>Tolerância de 10 minutos Entrada/Saída</p>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Primeiro Período:
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <span class="input-group-addon">Entrada</span>
                                            <input type="datetime" value="8:00" name="EntradaPrimeiroPeriodo" class="form-control">
                                        </div>

                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <span class="input-group-addon">Saida</span>
                                            <input type="datetime" value="12:00" name="SaidaPrimeiroPeriodo" class="form-control">
                                        </div>
                                    </td>
                                    <td><span class="badge">4:00</span></td>
                                </tr>


                                <tr>
                                    <td>Segundo Período:
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <span class="input-group-addon">Entrada</span>
                                            <input type="datetime" value="13:00" name="EntradaSegundoPeriodo" class="form-control">
                                        </div>

                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <span class="input-group-addon">Saida</span>
                                            <input type="datetime" value="17:00" name="SaidaSegundoPeriodo" class="form-control">
                                        </div>
                                    </td>
                                    <td><span class="badge">4:00</span></td>
                                </tr>

                                <tr>
                                    <td>Projeto
                                    </td>
                                    <td>
                                        <select id="TipoProjeto" name="CodigoProjeto" class="form-control input-sm">
                                            <option value="1">Desenvolvimento</option>
                                            <option value="3">Treinamento</option>
                                            <option value="4">Implantação</option>
                                            <option value="5">Suporte</option>

                                        </select>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <span class="input-group-addon">Descrição</span>
                                            <input type="text" class="form-control" name="DescricaoProjeto" placeholder="Descrição do projeto">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Total trabalhado
                                    </td>
                                    <td>
                                        <span class="badge">8:00</span>
                                    </td>
                                    <td>
                                        <p>(Considerando a tolerância)</p>
                                    </td>

                                </tr>

                            </table>
                        </form>
                    </div>


                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" id="ApontarHoraClick">Salvar</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        $("#ApontarHoraClick").click(function () {

            $("#ApontarHoraClick").prop("disabled", true);
            $.post("/Analista/TimeSheet/ApontarHoras", $("form[name='formApontamento']").serialize()).done(function() {
                debugger;
                alert("Apontamento realizado com sucesso !");
                window.location.href = "/Analista/TimeSheet";
            });


        });

        $("#btnAprovar").click(function () {

            $.ajax({
                type: 'post',
                url: '/Analista/TimeSheet/AprovarApontamentos',
                data: JSON.stringify(GetModel()),
                contentType: "application/json; charset=utf-8",
                traditional: true,
                beforeSend: ShowPreloader(),
                complete:HidePreloder(),
                success: function (data) {
                    alert("Alterações realizado com sucesso !");
                    window.location.href = "/Analista/TimeSheet";
                }
            });


        });

    });

    function GetModel() {

        var type = function () { return { Codigo: '', CodigoUsuario: '', Aprovado: '' }; };
        var model = new Array();
        $("#tbApontamentos tr td input[type=checkbox]").each(function (index) {

            var apontamento = new type();
            apontamento.Codigo = $(this).prop("name");
            apontamento.CodigoUsuario = $(this).prop("value");
            apontamento.Aprovado = $(this).prop("checked");

            model.push(apontamento);
        });
        return model;
    }
</script>
