﻿@model GDESK.CORE.ViewModel.Page.EmpresaViewModel

<div class="col-md-6">
    <div class="widget">
        <div class="widget-header">
            <div class="title">
                <span class="fs1" aria-hidden="true" data-icon=""></span> Cadasatro de Empresa
            </div>
        </div>
        <div class="widget-body">
            <form class="form-horizontal" name="frmCadastrarEmpresa" role="form">
                <div class="form-group" id="fgCnpj">
                    <label class="col-lg-2 control-label">CNPJ</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" name="@Html.NameFor(x=>x.Cnpj)" onchange="OnCnpjChange(this)" placeholder="Numeros">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">Empresa</label>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" name="@Html.NameFor(x=>x.Nome)" placeholder="Nome Fantasia">
                    </div>
                    <div class="col-lg-4">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <input name="Ativa" type="checkbox" onchange="$('input[name=Ativo]').val($(this).is(':checked'))" checked="checked">
                                <input name="@Html.NameFor(x=>x.Ativo)" type="hidden" value="true">
                            </span>
                            <input type="text" disabled="disabled" value="Ativa" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" title="Some tooltip text!" id="btnCadastrar" class="btn btn-primary">Cadastrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("form[name='frmCadastrarEmpresa'] input[name='Cnpj']").mask("99.999.999/9999-99");

        $("form[name='frmCadastrarEmpresa']").validate({
            rules: {
                Cnpj: {required:true},
                Nome: {required:true} 
            },
            messages:{
                Nome: "Nome é obrigatorio",
                Cnpj: "Cnpj é obrigatorio"
            }
        });
        $("form[name='frmCadastrarEmpresa']").submit(function () {
            if (!$("form[name='frmCadastrarEmpresa']").valid()) return false;
            $.post("/Analista/Geral/CadastrarEmpresa", $("form[name='frmCadastrarEmpresa']").serialize(), function () {

                alert("Empresa cadastrada com sucesso !");
                $("form[name='frmCadastrarEmpresa'] input[type=text]:not(:disabled)").val("");

            });

            return false;
        });


    });
    
    function OnCnpjChange(object) {
        if ($(object).val() == "") return;

        $.getJSON('/Usuario/VerificaEmpresa', { cnpj: $(object).val() },
           function (data) {
               var cssClass = $(data).prop('Existe') ? 'has-error' : "has-success";
               $("#fgCnpj").removeClass().addClass('form-group').addClass(cssClass);
               if ($(data).prop('Existe')) {
                   $("input[name=Cnpj]").val('').attr('placeholder',"CNPJ já cadastrado '" + data.NomeEmpresa + "'").focusout();
               }

           });

    }
    

</script>