﻿@using GDESK.CORE.UserControl
@model GDESK.CORE.ViewModel.Page.ResponderChamadoViewModel

@{
    var codigoFinalizado = (int)GDESK.CORE.Enum.StatusChamadoEnum.Finalizado;
}
<style type="text/css">
    #Mensagens blockquote p {
        font-size: 12px;
    }
</style>
<div class="col-md-12">
    <div class="widget no-margin">
        <div class="widget-header">
            <div class="title">
                <span class="fs1" aria-hidden="true" data-icon=""></span>Responder
            </div>
        </div>
        <div class="widget-body">
            <div class="row">
                <div class="col-md-2 col-sm-3">
                    <div class="thumbnail" style="text-align: center; ">
                        <img id="avatarForm" src="@Url.Content(Model.Usuario.FileName)" style="max-height:140px" />
                        <h3 class="heading-a">@Html.DisplayFor(x => x.Usuario.Nome)</h3>
                    </div>
                </div>
                <div class="col-md-10 col-sm-9">
                    <form class="form-horizontal" id="frmResponder">
                        
                        <div class="form-group">
                            <div class="col-sm-12">
                                <textarea name="txtMensagem" id="txtMensagem" class="form-control"></textarea>
                                <div class="form_submit clearfix" style="">
                                    @if (Suporte.UsuarioLogado.Analista)
                                    {
                                        <div class="btn-group pull-right">
                                            <button class="btn btn-primary btn-lg">Enviar</button>
                                            <button class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown">
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a onclick="Enviar(true)">Mensagem Privada</a></li>
                                            </ul>
                                        </div>
                                    }
                                    else
                                    {
                                        <button class="btn btn-primary btn-lg pull-right">Enviar</button>
                                    }


                                    @Html.Partial(Url.Content("~/UserControl/Upload/_FileUpload.cshtml"))


                                </div>
                            </div>
                        </div>


                        

                    </form>
                </div>
            </div>
            <div class="col-md-12">
                <div class="widget">
                    <div class="widget-header">
                        <div class="title">
                            <span class="fs1" aria-hidden="true" data-icon=""></span>Mensagens
                            <img id='imgloader' style="display:none" src='@Url.Content("~/Content/img/loader.gif")' alt="Carregando" />
                        </div>
                    </div>
                    <div class="widget-body" id="Mensagens">
                        <ul class="imp-messages">
                            @foreach (var item in Model.Conversas)
                            {

                                var cssClass = @item.Privado ? "red" : "balck";

                                <li data-codigo="@item.CodigoResposta">
                                    <img src="@Url.Content(item.Avatar)" class="avatar" alt="Avatar">
                                    <div class="message-date">
                                        <h3 class="date text-info">@item.DataResposta.Day</h3>
                                        <p class="month">@item.DataResposta.ToString("MMM")</p>
                                    </div>
                                    <div class="message-wrapper">
                                        <h4 class="message-heading">@item.NomeUsuario</h4>
                                        <blockquote class="message no-margin" style="color:@cssClass">
                                            @Html.Raw(item.Mensagem)
                                        </blockquote>
                                        <br>
                                        <p>
                                            @foreach (var anexos in item.Anexos)
                                            {
                                                <span class='fs1 text-info' aria-hidden='true' data-icon=''></span><a target='_blank' href="@Url.Content(anexos.CaminhoArquivo)" data-original-title=''>@anexos.NomeArquivo</a>
                                            }
                                        </p>

                                    </div>
                                </li>
                            }

                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
<ul>
    <li id="Template" style="display: none" data-codigo="">
        <img src="#" class="avatar" alt="Avatar">
        <div class="message-date">
            <h3 class="date text-info">27</h3>
            <p class="month">Aug</p>
        </div>
        <div class="message-wrapper">
            <h4 class="message-heading"></h4>
            <blockquote class="message no-margin"></blockquote>
            <div id="anexos">
            </div>
            <br>
        </div>
    </li>

</ul>
<p id="pAnexo" style="display: none">
    <span class='fs1 text-info' aria-hidden='true' data-icon=''></span>
    <a href='#' data-original-title=''></a>
</p>
<script type="text/javascript">

    function LimparCampos() {
        $("#txtMensagem").val("");
        $('.jqte_editor').text("");
        $("#Mensangem").text("");
        $("#Mensangem strong").remove();
        $("#Mensangem").hide();

        $('.progress-bar').css('width', 0);
    }

    function AtualizaConversa() {

        var codigo = 0;
        if ($("#Mensagens ul li").length != 0)
            codigo = parseInt($('#Mensagens ul li:nth-child(1)').data('codigo'));

        $.ajax({
            url: '/Chamado/UltimasRespostas',
            type: 'post',
            dataType: "json",
            data: {
                codigoChamado: parseInt('@Model.Chamado.CodigoChamado'),
                codigoUltimaResposta: codigo
            },
            success: function (data) {
                if (data.length == 0) return;

                $.each(data, function (i) {

                    if (parseInt($('#Mensagens ul li:nth-child(1)').data('codigo')) == $(this)[i].CodigoResposta) return;
                    var li = $('#Template').clone();
                    $(li).attr('data-codigo', $(this)[i].CodigoResposta);
                    $(li).find('.message-heading').text($(this)[i].NomeUsuario);
                    $(li).find('blockquote').text($(this)[i].Mensagem);
                    var cssColor = $(this)[i].Privado ? 'red' : 'black';
                    $(li).find('blockquote').css('color', cssColor);
                    $(li).find('.avatar').attr('src', $(this)[i].Avatar.replace('~', ''));
                    var dia = new Date(parseInt($(this)[i].DataResposta.replace('/', '').replace('(', '').replace(')', '').replace('/', '').replace('Date', '')));
                    $(li).find('.date').text(dia.getDate());
                    $(li).find('.month').text(dia.getMonthName());
                    var anexo = "";
                    var items = $(this)[i].Anexos;
                    anexo += "<p>";
                    for (var attaches = 0; attaches < items.length; attaches++) {
                        anexo += "<span class='fs1 text-info' aria-hidden='true' data-icon=''></span><a target='_blank' href=" + items[attaches].CaminhoArquivo.replace('~', '') + " data-original-title=''>" + items[attaches].NomeArquivo + "</a>";
                    }
                    anexo += "</p>";

                    $(li).find('#anexos').html($(anexo));
                    $(li).prependTo('#Mensagens ul').hide().show('slow');


                });
            }
        });
    }



    function Responder(model) {
        $.ajax({
            url: "/Chamado/Responder",
            type: 'POST',
            dataType: 'json',
            beforeSend: function () { $('#imgloader').show(); },
            complete: function () { $('#imgloader').hide(); },
            data: model,
            success: function (data) {



                var li = $('#Template').clone();
                $(li).attr('data-codigo', data.CodigoResposta);
                $(li).find('.message-heading').text(data.NomeUsuario);
                $(li).find('blockquote').html(data.Mensagem);
                var cssColor = data.Privado ? 'red' : 'black';
                $(li).find('blockquote').css('color', cssColor);
                $(li).find('.avatar').attr('src', data.Avatar);
                var dia = new Date(parseInt(data.DataResposta.replace('/', '').replace('(', '').replace(')', '').replace('/', '').replace('Date', '')));
                $(li).find('.date').text(dia.getDate());
                $(li).find('.month').text(dia.getMonthName());
                var anexo = "";
                anexo += "<p>";
                $.each(data.Anexos, function () {
                    anexo += "<span class='fs1 text-info' aria-hidden='true' data-icon=''></span><a href=" + $(this).prop('CaminhoArquivo').replace('~', '') + " data-original-title=''>" + $(this).prop('NomeArquivo') + " </a>";
                });
                anexo += "</p>";
                $(li).find('#anexos').html($(anexo));

                $(li).prependTo('#Mensagens ul').hide().show('slow');
                LimparCampos();

                var analista = '@Model.Usuario.Analista' == 'True';
                var codigoChamado = '@Model.Chamado.CodigoChamado';

                EnviarNotificao("Chamado #" + codigoChamado + " foi respondido", analista, codigoChamado);
            }
        });
    }

    function Enviar(privado) {

        if (!$("#frmResponder").valid()) return false;

        var model = {
            CodigoUsuario: parseInt('@Model.Usuario.CodigoUsuario'),
            CodigoChamado: parseInt('@Model.Chamado.CodigoChamado'),
            Mensagem: $('#txtMensagem').val(),
            Avatar: '@Url.Content(Model.Usuario.FileName)',
            NomeUsuario: '@Model.Usuario.Nome',
            Privado: privado
        };

        Responder(model);
    }

    $(function () {

        $('#txtMensagem').jqte({ format: false, fsize: false, unlink: false, sup: false, strike: false, sub: false, source: false, center: false, left: false, indent: false, outdent: false, link: false, rule: false, right: false,color:false });

        $("#frmResponder").validate({
            rules: { txtMensagem: 'required' }, messages: { txtMensagem: 'Campo mensagem é Obrigatorio' }
        });

        Date.prototype.getMonthName = function () {
            var monthNames = ["jan", "feb", "mar", "abr", "mai", "jun",
                "jul", "aug", "sep", "out", "nov", "dez"];
            return monthNames[this.getMonth()];
        };

        //setInterval("AtualizaConversa()", 3000);

        $('form').submit(function () {
            var status = parseInt($("input[name=codigoStatus]").val());
            var finalizado = parseInt('@codigoFinalizado')
            if (status == finalizado) {
                alert('Você precisa reabrir o chamado antes de responde-lo');
                return false;
            }

            Enviar(false);

            return false;
        });

    });

</script>

