﻿@using GDESK.CORE.Enum
@using GDESK.CORE.Extension
@using GDESK.CORE.UserControl
@model GDESK.CORE.ViewModel.Control.NavBarStatusViewModel

<div class="btn-group navbar-right">



    @if (Suporte.UsuarioLogado.Analista)
    {

        <button type="button" class="btn btn-info btn-default" data-status="@StatusChamadoEnum.Atendimento" id="btnAtender"
                onclick="TrocarStatus(@Model.CodigoChamado,@StatusChamadoEnum.Atendimento.Valor())" disabled="disabled">
            <span class="fs1" aria-hidden="true" data-icon=""> Atender</span>
        </button>
        <button type="button" class="btn btn-danger btn-default" data-status="@StatusChamadoEnum.Aguardando" id="btnAguardar"
                onclick="TrocarStatus(@Model.CodigoChamado,@StatusChamadoEnum.Aguardando.Valor())" disabled="disabled">
            <span class="fs1" aria-hidden="true" data-icon=""> Aguardar</span>
        </button>
    }
    else
    {
        <button style="display: none" type="button" class="btn btn-info btn-default" data-status="@StatusChamadoEnum.Atendimento" id="btnAtender"
                onclick="TrocarStatus(@Model.CodigoChamado,@StatusChamadoEnum.Atendimento.Valor())" disabled="disabled">
            <span class="fs1" aria-hidden="true" data-icon=""> Atender</span>
        </button>
    <button style="display: none" type="button" class="btn btn-danger btn-default" data-status="@StatusChamadoEnum.Aguardando" id="btnAguardar"
            onclick="TrocarStatus(@Model.CodigoChamado,@StatusChamadoEnum.Aguardando.Valor())" disabled="disabled">
        <span class="fs1" aria-hidden="true" data-icon=""> Aguardar</span>
    </button>
    }

    <button type="button" class="btn btn-success btn-default" data-status="@StatusChamadoEnum.Reaberto" id="btnReaberto"
            onclick="TrocarStatus(@Model.CodigoChamado,@StatusChamadoEnum.Reaberto.Valor())" disabled="disabled">
        <span class="fs1" aria-hidden="true" data-icon=""> Reabrir</span>
    </button>

    <button type="button" class="btn btn-warning btn-default" data-status="@StatusChamadoEnum.Finalizado" id="btnFinalizar"
            onclick="TrocarStatus(@Model.CodigoChamado,@StatusChamadoEnum.Finalizado.Valor())" disabled="disabled">
        <span class="fs1" aria-hidden="true" data-icon=""> Finalizar</span>
    </button>
</div>

<script type="text/javascript">
    function loadControl(model) {

        var novo = model.Novo;
        var atender = model.Atendimento;
        var reaberto = model.Reaberto;
        var aguardando = model.Aguardando;
        var finalizado = model.Finalizado;
        var status = "";

        document.getElementById('btnAtender').disabled = true;
        document.getElementById('btnAguardar').disabled = true;
        document.getElementById('btnReaberto').disabled = true;
        document.getElementById('btnFinalizar').disabled = true;

        if (novo) {
            document.getElementById('btnAtender').disabled = false;
            status = "Novo";
        }

        if (atender) {
            document.getElementById('btnFinalizar').disabled = false;
            document.getElementById('btnAguardar').disabled = false;
            status = "Em Atendimento";
        }
        if (finalizado) {
            document.getElementById('btnReaberto').disabled = false;
            status = "Finalizado";
        }

        if (aguardando || reaberto) {
            document.getElementById('btnAtender').disabled = false;

            if (aguardando) status = "Aguardando";
            if (reaberto) status = "Reaberto";
        }

        if (!atender && !reaberto && !aguardando && !finalizado) { document.getElementById('btnAtender').disabled = false; }


        if (model.Analista != null) $("#lblAnalista").text(model.Analista);

        $("#clnStatus").text(status);
    }

    function TrocarStatus(codigo, stausEnum) {
        $.ajax({
            url: '@Url.Action("TrocarStatus", "Geral")',
            type: 'POST',
            data: JSON.stringify({ codigoChamado: codigo, stausEnum: stausEnum }),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            beforeSend: function () { ShowPreloader(); },
            complete: function () { HidePreloder(); },
            success: function (data) {
                loadControl(data);
            }
        });

    }

    $(function () {
        var model = '@Html.Raw(Json.Encode(Model))';
        $.ajax({
            url: '@Url.Action("ConfigurarNavBar", "Geral")',
            contentType: 'application/json; charset=utf-8',
            type: 'POST',
            dataType: 'json',
            data: model,
            success: function (data) {
                loadControl(data);
            }
        });
    });
</script>
