﻿@*@model GDESK.CORE.ViewModel.Control.NovoChamadoFeedViewModel*@

<script src="@Url.Content("~/Content/js/jquery.min.js")"></script>

<script type="text/javascript">
    worker = new Worker("@Url.Content("../../Content/js/NewFeeds.js")");
    // Posts a message to the Web Worker
    worker.postMessage(0);

    // Triggered by postMessage in the Web Worker
    worker.onmessage = function (evt) {
        // evt.data is the values from the Web Worker
        console.info(evt.data);
    };


</script>
