﻿@using GDESK.CORE.Extension
@using GDESK.CORE.UserControl
@model GDESK.CORE.ViewModel.Control.DetalhesChamadoViewModel
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<div class="row">
    <div class="col-md-12">
        <div class="widget">
            <div class="widget-header">
                <div class="title">
                    <span class="fs1" aria-hidden="true" data-icon=""></span>Informações do chamado
                </div>
            </div>
            <div class="widget-body">

                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td><span class="fs1" aria-hidden="true" data-icon=""><strong>DETALHES DO CHAMADO</strong></span></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <strong>Analista</strong>
                                    </td>
                                    <td id="clnAnalista">
                                       <span id="lblAnalista"> @Html.DisplayFor(x => x.NomeAnalista)</span>

                                        @if (Suporte.UsuarioLogado.Analista)
                                        {
                                            <a data-target="#showModal" id="linkTransferir" data-toggle="modal" data-codigoAnalista="@Model.CodigoAnalista" onclick="DefinirValorInicial($(this).attr('data-codigoAnalista'))" href="#"><span class="label label-primary">Transferir</span></a>
                                        }
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <strong>Módulo</strong>
                                    </td>
                                    <td>@Html.DisplayFor(x => x.Modulo)</td>
                                </tr>

                                <tr>
                                    <td>
                                        <strong>Status</strong>
                                    </td>
                                    <td id="clnStatus">
                                        @Html.DisplayFor(x => x.Status)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Prioridade</strong>
                                    </td>
                                    <td>@Html.DisplayFor(x => x.Prioridade)</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Data Abertura</strong>
                                    </td>
                                    <td>
                                         @Model.DataAbertura.ToString("dd.MM.yyyy") <em class="muted">@DateTime.Now.Subtract(Model.DataAbertura).Days dias atrás</em>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <td><span class="fs1" aria-hidden="true" data-icon=""><strong>DETALHES DO CLIENTE</strong></span></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <strong>Empresa</strong>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => x.NomeEmpresa)
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <strong>Nome</strong>
                                    </td>
                                    <td>@Html.DisplayFor(x => x.NomeFuncionario)</td>
                                </tr>

                                <tr>
                                    <td>
                                        <strong>Email</strong>
                                    </td>
                                    <td>@Html.DisplayFor(x => x.Email)</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Celular</strong>
                                    </td>
                                    <td>@string.Format("{0:(##) #####-####}",Convert.ToInt64(Model.Celular))</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Empresa</strong><em class="muted">(telefone)</em>
                                    </td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="widget">
                            <div class="widget-header">
                                <div class="title">
                                    <span class="fs1" aria-hidden="true" data-icon="&#xe095;"></span>Historico de Tempo
                                </div>
                            </div>
                            <div class="widget-body">
                                @Html.IdGraficoPizza("GraficoPizza", "Grafico", Suporte.ConfigurarLabelGraficoChamado(), Suporte.ConfiguararDadosGraficoChamado(Model.Items), 150, 420)

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    

    function Transferir() { 

            var codigoChamado = parseInt('@Model.CodigoChamado');
            var codigoAnalista = parseInt($("#lstAnalistas .active").attr("data-codigoAnalista"));

            TrocarAnalista(codigoChamado, codigoAnalista);
    }

    function TrocarAnalista(codChamado, codAnalista) {
        var model = JSON.stringify({ codigoChamado: codChamado, codigoAnalista: codAnalista });
        var usuarioLogado = '@Suporte.UsuarioLogado.Nome';

        $.ajax({
            url: '@Url.Action("TrocarAnalista","Geral")',
            type: 'POST',
            data: model,
            contentType: 'application/json',
            beforeSend: function () { ShowPreloader(); },
            complete: function () { HidePreloder(); },
            success: function (data) {
                $("#lblAnalista").text(data.Analista.Nome);
                $("#linkTransferir").attr("data-codigoAnalista", data.Analista.CodigoUsuario);
                $("#showModal").modal('hide');
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                $("#TrocarAnalista").html(data.Pagina);
                $("#showModal").modal('hide');
                $('#txtMensagem').val(usuarioLogado + ", transferiu o chamado para: " + data.Analista.Nome);
                Enviar(true);

            }
        });
    }
</script>
<!-- Row end sidebar chart-->
