﻿@using GDESK.CORE.Enum
@using GDESK.CORE.Extension

<div class="col-md-12">
    <div class="widget">
        <div class="widget-header">
            <div class="title">
                <span class="label label-primary text-right" id="totalChamado"></span> Chamados
               
                
            </div>
            <div class="fc-header-right">
                <button type="button" class="btn btn-xs btn-primary pull-right" onclick="ObterLista()"><span class="fs1" aria-hidden="true" data-icon=""> ATUALIZAR </span></button>
            </div>


        </div>
        <div class="widget-body">
            <div>
                <table class="table table-hover table-bordered" id="data-table">
                    <thead>
                        <tr>
                            <th style="width: 7%"><a data-column="@GridChamadoColumns.Codigo.Valor()" data-ordem="DESC" href="javascript:void(0)" class="link" onclick="Sorting(this);"><span class="fs1" style="color:#4372aa !important" aria-hidden="true" data-icon=""></span> Codigo</a></th>
                            <th style="width: 10%"><a data-column="@GridChamadoColumns.Cliente.Valor()"data-ordem="DESC"class="link" href="javascript:void(0)" onclick="Sorting(this);"><span class="fs1" style="color:#4372aa !important" aria-hidden="true" data-icon=""></span> Cliente</a></th>
                            <th style="width: 15%"><a data-column="@GridChamadoColumns.Empresa.Valor()"data-ordem="DESC"class="link" href="javascript:void(0)" onclick="Sorting(this);"><span class="fs1" style="color:#4372aa !important" aria-hidden="true" data-icon=""></span> Empresa</a></th>
                            <th style="width: 15%"><a data-column="@GridChamadoColumns.Assunto.Valor()"data-ordem="DESC"class="link" href="javascript:void(0)" onclick="Sorting(this);"><span class="fs1" style="color:#4372aa !important" aria-hidden="true" data-icon=""></span> Assunto</a></th>
                            <th style="width: 10%"><a data-column="@GridChamadoColumns.Status.Valor()" data-ordem="DESC"class="link" href="javascript:void(0)" onclick="Sorting(this);"><span class="fs1" style="color:#4372aa !important" aria-hidden="true" data-icon=""></span> Status</a></th>

                            <th style="width: 15%"><a data-column="@GridChamadoColumns.DataAbertura.Valor()" data-ordem="DESC"class="link" href="javascript:void(0)" onclick="Sorting(this);"><span class="fs1" style="color:#4372aa !important" aria-hidden="true" data-icon=""></span> Data Abertura</a></th>
                            <th style="width: 13%"><a data-column="@GridChamadoColumns.Analista.Valor()" data-ordem="DESC" class="link" href="javascript:void(0)" onclick="Sorting(this);"><span class="fs1" style="color:#4372aa !important;" aria-hidden="true" data-icon=""></span> Analista</a></th>
                            <th style="width: 15%"><a data-column="@GridChamadoColumns.Tempo.Valor()" data-ordem="DESC" class="link" href="javascript:void(0)" onclick="Sorting(this);"><span class="fs1" aria-hidden="true" data-icon=""> Atender em</span></a><span class="fs1 pull-right" style="color:#4372aa !important" aria-hidden="true" data-icon=""></span></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>

                </table>
                <input type="hidden" name="qtdGrid" />
                <button type="button" class="btn btn-primary btn-block" id="btnMore"><span class="fs1" aria-hidden="true" data-icon=""> VER MAIS <span class="badge" id="qtdRestante" style="margin-left: 5px;"></span></span></button>
                <button type="button" class="btn btn-primary btn-block" style="display: none" id="btnRemoverFiltro"><span class="fs1" aria-hidden="true" data-icon="">REMOVER FILTRO</span></button>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">

    function AbrirChamado(event, codigoChamado) {


        if (event.ctrlKey){
            AdicionarAba(codigoChamado);
            return;
        }

        location.href = '/Chamado/Responder/' + codigoChamado;

    }


    $(function () {
        ObterLista();
        
    });

    var dataSet;
    var qtdMore;
    
   

    function ObterLista() {
        
        $.ajaxSetup({
            cache: false
        });


        $.get("/Geral/Lista", function (data) {
            dataSet = data;
            
            var paginacao = $(dataSet).find('tbody tr').slice(0, parseInt($("#btndropDownPaginacao").data('value-selected')));
            var total = $(dataSet).find('tr').length;

           

            $('table tbody').html($(paginacao));
            
            $("#totalChamado").text($('table tbody tr').length + "/" + total);

            qtdMore = ($(dataSet).find('tr').length - $('#data-table tr').length) + 1;

            $("#qtdRestante").text(qtdMore);
        });

    }
    
   
    

    $("#btnMore").click(function () {
        var dataSetSize = $(dataSet).find('tbody tr').length;
        var pageIndex = parseInt($('table tbody tr').length);
        var takeItems = parseInt($('table tbody tr').length + parseInt($("#btndropDownPaginacao").data('value-selected')));
        var pageSize = pageIndex <= dataSetSize ? (takeItems) : (dataSetSize - takeItems);
        
        $(dataSet).find('tbody tr').slice(pageIndex, pageSize).each(function () {
            $('table tbody').append($(this));
        });
        
        $("#totalChamado").text($('table tbody tr').length + "/" + dataSetSize);
        qtdMore = ($(dataSet).find('tr').length - $('#data-table tr').length) + 1;

        $("#qtdRestante").text(qtdMore);

    });

  

    function Filtrar() {
        var model = {
            CodigoChamado: parseInt($("input[name=codigoChamado]").val()),
            CodigoEmpresa: parseInt($(".Empresa option:selected").val()),
            CodigoAnalista: parseInt($(".Analista option:selected").val()),
            CodigoStatus: parseInt($(".Status option:selected").val()),
        };

        $.ajax({
            url: '/Geral/Filtro',
            type: 'POST',
            content: 'application/json; charset=utf-8',
            dataType: 'html',
            data: model,
            beforeSend: function () { ShowPreloader(); },
            complete: function () { HidePreloder(); },
            success: function (data) {
                dataSet = data;
                $('tbody').html("");
                $(dataSet).find('tbody tr').slice(0, parseInt($("#btndropDownPaginacao").data('value-selected'))).each(function () {
                    $('table tbody').append($(this));
                });

                $("#totalChamado").text($('table tbody tr').length + "/" + $(dataSet).find('tr').length);
                
                qtdMore = ($(dataSet).find('tr').length - $('#data-table tr').length) + 1;

                $("#qtdRestante").text(qtdMore);
            }
        });

        return false;
    }

    function Sorting(header) {
        var orderBy = $(header).data('ordem') == "ASC" ? "DESC" : "ASC";
        $(header).data('ordem', orderBy);


        $.get('@Url.Action("SortingList", "Geral")',
            { column: $(header).data('column'), ordem: orderBy },
            function (data) {
                var pageSize = parseInt($('table tbody tr').length);
                $('tbody').html("");
                $(data).find('tbody tr').slice(0, pageSize).each(function () {
                    $(this).prependTo('table tbody');
                });
            });
    }
    

</script>
