﻿@model GDESK.CORE.ViewModel.Page.UsuarioViewModel

<!--MODAL CADASTRO-->
<div class="modal fade" id="showModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-original-title="">Fechar</button>
                <h4 class="modal-title"><span class="fs1" aria-hidden="true" data-icon="">Cadastrar</span></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-2 col-sm-3">
                        <div class="thumbnail">
                            <img alt="300x200" id="fotoPerfil" src="http://bit.ly/1dqW8yO">
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-9">
                        <form class="form-horizontal" onsubmit="Cadastrar()" id="frmCadastrar">
                            <h3 class="heading-a">Dados empresa</h3>
                            <div class="form-group" id="fgCnpj">
                                <label for="txtCnpj" class="col-sm-2 control-label">Cnpj</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="txtCnpj" placeholder="Cnpj">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="Empresa" class="col-sm-2 control-label">Nome</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="Empresa" placeholder="Nome Empresa" disabled>
                                    <input type="hidden" class="form-control" name="CodigoEmpresa">
                                </div>
                            </div>

                            <h3 class="heading-a">Dados funcionario</h3>
                            <div class="form-group">
                                <label for="Nome" class="col-sm-2 control-label">Nome</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="Nome" placeholder="Seu nome" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Email" class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="Email" placeholder="Email" disabled>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="Celular" class="col-sm-2 control-label">Celular</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="Celular" placeholder="Celular" disabled>
                                </div>
                            </div>
                            <div class="form-group" id="fgLogin">
                                <label for="Login" class="col-sm-2 control-label">Usuario</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="Login" placeholder="Usuario" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Senha" class="col-sm-2 control-label">Senha</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" name="Senha" placeholder="********" disabled>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-2">
                                    <input type="file" class="filestyle pull-left" data-buttontext="Foto perfil" data-classbutton="btn btn-primary" data-input="true" id="fileupload" accept="image/x-png, image/gif, image/jpeg">
                                    <br />
                                    <br />
                                    <div class="progress" style="height: 3px">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0">
                                            <span class="sr-only">0% Complete</span>
                                        </div>
                                    </div>
                                    <div class="alert alert-info" id="Mensangem" style="display: none">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" data-original-title="">Cancelar</button>
                <input type="submit" class="btn btn-primary" id="Enviar" value="Entrar"/>
            </div>
        </div>
    </div>
</div>
<!--FIM MODAL CADASTRO-->
<script src="@Url.Content("~/Content/js/jquery.ui.widget.js")"></script>
<script src="@Url.Content("~/Content/js/jquery.fileupload.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('.input-large').attr({ name: 'file' });

        $("#frmCadastrar").validate({
            rules: {
                Nome: { required: true },
                Email: { required: true, email: true },
                Celular: { required: true },
                Login: { required: true },
                Senha: { required: true },
                txtCnpj: { required: true }
            },
            messages: {
                Nome: "Seu nome é obrigatorio",
                Email: "Insira um email valido",
                Celular: "Celular é obrigatorio",
                Login: "Usuario é obrigatorio",
                Senha: "Senha é obrigatorio",
                txtCnpj:"CNPJ é obrigatorio"
            }
        });

        $("#frmCadastrar input[name=txtCnpj]").mask("99.999.999/9999-99");
        
        $("#frmCadastrar input[name=Celular]").focusout(function () {
            var phone, element;
            element = $(this);
            element.unmask();
            phone = element.val().replace(/\D/g, '');
            if (phone.length > 10) {
                element.mask("(99) 99999-999?9");
            } else {
                element.mask("(99) 9999-9999?9");
            }
        }).trigger('focusout');
        
        UploadProfile();

        $("#Enviar").click(function () { Cadastrar(); });
        $("#frmCadastrar input[name=txtCnpj]").change(function () { OnCnpjChange($(this)); });
        $("#frmCadastrar input[name=Login]").focusout(function () { OnUsuarioChange($(this)); });

    });

    function UploadProfile() {
        $('#fileupload').fileupload({
            dataType: 'json',
            url: '/Usuario/UploadProfile',
            autoUpload: true,
            acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
            done: function (e, data) {
                $("#Mensangem").show();
                var fileHtml = "<strong data-url=" + data.result.PathName + ">" + data.result.FileName + "</strong> " + data.result.Mensagem + "</br>";
                $("#Mensangem").html($(fileHtml).fadeToggle('slow'));
                $("#fotoPerfil").attr("src", $("#Mensangem strong").data("url").replace('~', ''));
            }
        }).on('fileuploadprogressall', function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('.progress .progress-bar').css('width', progress + '%');
            $('.progress .progress-bar').attr('aria-valuenow', progress);

        });
    }

    function OnCnpjChange(object) {
        if ($(object).val() == "") return;

        $.getJSON('/Usuario/VerificaEmpresa', { cnpj: $(object).val() },
           function (data) {
               var cssClass = $(data).prop('Existe') ? "has-success" : 'has-error';
               $("#fgCnpj").removeClass().addClass('form-group').addClass(cssClass);
               $("input[name=Empresa]").val(data.NomeEmpresa);
               $("input[name=CodigoEmpresa]").val(data.CodigoEmpresa);
               $("input[type='text'], input[type='password']").attr('disabled', 'disabled');
               $('input[name=txtCnpj]').removeAttr('disabled');
               $('input[name=txtCnpj]').focus();
               if (!data.Existe) return;

               $("input[type='text']:disabled, input[type='password']:disabled").removeAttr('disabled');
               $("input[name=Empresa]").attr('disabled', 'disabled');
               $("input[name=Nome]").focus();
               

           });

    }

    function OnUsuarioChange(object) {
        if ($(object).val() == "") return;

        $.getJSON('/Usuario/VerificaUsuario', { usuarioNome: $(object).val() },
            function (data) {
                var cssClass = $(data).prop('Existe') ? 'has-error' : "has-success";
                $("#fgLogin").removeClass().addClass('form-group').addClass(cssClass);
                if (!data.Existe) return;
                $(object).val('').attr('placeholder', 'Usuario já existe !').focus();

            });

    }

    function Cadastrar() {
        if (!$("#frmCadastrar").valid()) return false;

        $.ajax({
            url: '/Usuario/Cadastrar',
            type: 'POST',
            data: $('#frmCadastrar').serialize(),
            beforeSend: function () { ShowPreloader(); },
            complete: function () { HidePreloder(); },
            success: function (data) {
                window.location.href = data;;
            }
        });

        return false;
    }

</script>


