﻿

<div class="widget" id="SelecionarCliente">
    <div class="widget-header">
        <button data-dismiss="alert" id="btnClose" style="color:red" class="close" type="button" data-original-title="">
            ×
        </button>
        <div class="title">
            <span class="fs1" aria-hidden="true" data-icon=""></span> Selecionar Solicitante
            
        </div>
        
    </div>
    <div class="widget-body center-align-text">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="Empresa">Empresa</label>
            <div class="col-sm-10">
                <select class="form-control" onchange="EmpresaChange($(this).find('option:selected').val())" name="Empresa">
                    <option value="0">Selecione</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="Solicitante">Solicitante</label>
            <div class="col-sm-10">
                <select class="form-control" name="Solicitante">
                    <option value="0">Selecione uma empresa</option>
                </select>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    $(function() {
        $.ajaxSetup({
            cache: false
        });

        //OBTER EMPRESA
        $.getJSON("/Geral/Empresas", function(data) {
            var options;
            $(data).each(function() {
                options += "<option value='" + $(this).prop('value') + "'>" + $(this).prop('text') + "</option>";
            });
            $('select[name=Empresa]').append(options);
        });


        $("#btnClose").click(function () { $("#SelecionarCliente").slideUp('slow', function() { $(this).remove(); }); });
    });


    //OBTER SOLICITANTES

    function EmpresaChange(codigoEmpresa) {
        $('select[name=Solicitante]').html('<option>Procurando...</option>');
        $.getJSON('/Geral/Solicitantes', { codigoEmpresa: codigoEmpresa }, function(data) {
            var options;

            $(data).each(function() {
                options += "<option value='" + $(this).prop('value') + "'>" + $(this).prop('text') + "</option>";
            });
            $('select[name=Solicitante]').html(options);


        });
    }

    //FECHAR CONTROLE
</script>