﻿@using GDESK.CORE.UserControl
@{
    ViewBag.Title = "Bem vindo ao #HELPDESK#";
    Layout = "~/Views/Layouts/_LayoutMain.cshtml";
    ViewBag.Header = "Principal";
}

<div class="row">
    <div class="col-md-12">
        <div class="widget">
            <div class="widget-header">
                <div class="title">
                    <span class="fs1" aria-hidden="true" data-icon=""></span> Avisos
                </div>
            </div>
            <div class="widget-body">

                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="alert alert-block alert-info jet-blue-bg no-margin">
                            <button data-dismiss="alert" class="close" type="button" data-original-title="">
                                ×
                            </button>
                            <h3 class="text-white">Evitar chamados ambiguos</h3>
                            <p class="text-white">Clientes, por favor evitar abrir chamados com assuntos que já estão sendo tratados pelos nossos analistas, estamos trabalhando duro para melhor atende-lo </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="alert alert-block alert-success go-green-bg no-margin">
                            <button data-dismiss="alert" class="close" type="button" data-original-title="">
                                ×
                            </button>
                            <h3 class="text-white">TeamViewer</h3>
                            <p class="text-white">Para melhor atende-lo pedimos que instale o team viewer, caso não tenha instalado ainda, para realizar o processo por favor clicar <a href="http://infodesk.com.br/remoto" target="_blank">AQUI</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>