﻿@using GDESK.CORE.UserControl
@using GDESK.CORE.ViewModel.Control
@model GDESK.CORE.ViewModel.Page.ResponderChamadoViewModel
@{
    ViewBag.Title = string.Format("Responder #{0}#", Model.Chamado.CodigoChamado);
    Layout = "~/Views/Layouts/_LayoutMain.cshtml";
    ViewBag.Header = "Responder Chamado #" + Model.Chamado.CodigoChamado;
}
@section pageTitle
{
    <div id="TrocarAnalista"> @Html.Partial("~/UserControl/Responder/_PartialTransferirAnalista.cshtml", Suporte.TrocarAnalistaLista())</div>
    @Html.Partial("~/UserControl/ChamadoHeader/_PartialNavBarStatusChamado.cshtml", new NavBarStatusViewModel { CodigoChamado = Model.Chamado.CodigoChamado })
}


<style type="text/css">
    #Chamado img {
        width: 100%;
    }
</style>
<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    <span class="fs1" aria-hidden="true" data-icon=""> Detalhes do chamado #@Html.DisplayFor(x => x.Chamado.CodigoChamado)</span>
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse out">
            <div class="panel-body">
                @Html.Partial("~/UserControl/ChamadoHeader/_PartialDetalhesChamado.cshtml", Model.DetalhesChamadoViewModel)
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                    <span class="fs1 pull-left" aria-hidden="true" data-icon=""> Anexos </span><span class="badge" style="margin-left: 5px;">@Model.Anexos.Count()</span>
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                @Html.Partial("~/UserControl/ChamadoHeader/_PartialAnexosChamado.cshtml", Model.Anexos)
            </div>
        </div>
    </div>
</div><br />
<div class="widget">
    <button data-dismiss="alert" class="close" type="button" data-original-title="Mensagem">x</button>
    <div class="widget-header">

        <div class="title">

            <span class="fs1" aria-hidden="true" data-icon=""></span>Descrição

        </div>
    </div>
    <div class="widget-body">

        <div class="row">
            <div class="callout callout-default no-margin" id="Chamado">

                <h4>[@Html.DisplayFor(x => x.Chamado.Assunto)]</h4>
                <p>@Html.Raw(Model.Chamado.Mensagem)</p>
            </div>
        </div>
    </div>
</div>

@Html.Partial("~/UserControl/Responder/_PartialResponder.cshtml", Model)

