﻿@using GDESK.CORE.Extension
@using GDESK.CORE.UserControl
@using GDESK.CORE.ViewModel.Control

<style type="text/css" media="all">
    .chosen-container-single{width:205px !important}
</style>
<!-- Row Start -->
<div class="row">
    <div class="col-md-9">
        <div class="widget">
            <div class="widget-header">
                <div class="title">
                    <span class="fs1" aria-hidden="true" data-icon=""></span>Pesquisar

                </div>
            </div>
            <div class="widget-body">
                <form class="form-inline" role="form" onsubmit="return Filtrar()">
                    <div class="form-group">
                        <input type="text" class="form-control" name="codigoChamado" style="width: 150px" placeholder="Codigo Chamado">
                    </div>
                   

                    @if (Suporte.UsuarioLogado.Analista)
                    {
                        <div class="form-group">
     
                            @Html.AutoCompleteList(new AutoCompleteViewModel { Items = Suporte.DropDownEmpresa().OrderBy(x=>x.Value).ToDictionary(x=> x.Key,x=>x.Value), Nome = "Empresa", PlaceHolder = "Selecione a empresa" })
                            
                        </div>
                    }
                    <div class="form-group">
                        @Html.AutoCompleteList(new AutoCompleteViewModel { Items = Suporte.DropDownAnalista(), Nome = "Analista", PlaceHolder = "Selecione o analista" })
                        

                    </div>

                    <div class="form-group">
                        @Html.AutoCompleteList(new AutoCompleteViewModel { Items = Suporte.DropDownStatus(), Nome = "Status", PlaceHolder = "Selecione o status" })
                        
                    </div>

                    <input type="submit" id="btnEnviar" class="btn btn-primary" value="Buscar" />
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="widget">
            <div class="widget-header">
                <div class="title">
                    <span class="fs1" aria-hidden="true" data-icon=""></span>Exibição

                </div>
            </div>
            <div class="widget-body">
                @Html.ComboBox(Suporte.DropDownPaginacao(), "dropDownPaginacao", "Padrão", 20)

            </div>
        </div>
    </div>
</div>
<!-- Row end -->
