﻿<span class="btn btn-primary fileinput-button">
    <i class="glyphicon glyphicon-plus"></i>
    <span>Adicionar anexo...</span>
    <input id="fileupload" type="file" name="file" accept="image/x-png, image/gif, image/jpeg" multiple>
</span>
<br />
<br />
<div class="progress" style="height: 3px">
    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0">
        <span class="sr-only">0% Complete</span>
    </div>
</div>
<div class="alert alert-info" id="Mensangem" style="display: none">
</div>

<script src="@Url.Content("~/Content/js/jquery.ui.widget.js")"></script>
<script src="@Url.Content("~/Content/js/jquery.fileupload.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('#fileupload').fileupload({
            dataType: 'json',
            url: '/Geral/UploadFiles',
            autoUpload: true,
            acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
            done: function (e, data) {
                $("#Mensangem").show();
                var fileHtml = "<strong data-url=" + data.result.PathName + ">" + data.result.FileName + "</strong> " + data.result.Mensagem + "</br>";
                $("#Mensangem").append($(fileHtml).fadeToggle('slow'));

                
            }
        }).on('fileuploadprogressall', function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('.progress .progress-bar').css('width', progress + '%');
            $('.progress .progress-bar').attr('aria-valuenow', progress );

        });
    });
</script>
