﻿<!DOCTYPE html>
    <html>

<head>
    <meta charset="utf-8">
    <title>Oops ! Desculpe...</title>
    
    
    <link href="@Url.Content("~/Content/icomoon/style.css")" rel="stylesheet">

    <!-- bootstrap css -->
      <link href="@Url.Content("~/Content/css/bootstrap.css")" rel="stylesheet">
    <!-- custom css -->
    <link href="@Url.Content("~/Content/css/main.css")" rel="stylesheet">
    

    
</head>

  <body>
    @Html.Partial("~/UserControl/ChamadoHeader/_PartialNovoChamadoFeed.cshtml");
    <!-- Main Container start -->
    <div class="main-container">
      <div class="row">
        <div class="col-md-12">
          <div class="error-container">
            <h1>Oops!</h1>
            <h2>Ih!, Ocorreu uma falha de comunicação com nossos servidores.</h2>
            <div class="error-actions">
              <a href="#" onclick="javascript:location.href='@Request.QueryString["aspxerrorpath"]';" class="btn btn-primary btn-large">
                Tentar novamente !         
              </a>
                <a href="#" onclick="javascript: location.href = '/Usuario/Autenticar';" class="btn btn-danger btn-large">
                    Sair !
                </a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>