﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Helpdesk Online</title>
    <meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
     <link rel="shortcut icon" href="@Url.Content("~/Content/img/favicon.ico")">


    <script src="@Url.Content("~/Content/js/html5-trunk.js")"></script>

    <link href="@Url.Content("~/Content/icomoon/style.css")" rel="stylesheet">


    <!-- bootstrap css -->
    <link href="@Url.Content("~/Content/css/bootstrap.css")" rel="stylesheet">

    <!-- custom css -->
    <link href="@Url.Content("~/Content/css/main.css")" rel="stylesheet">


    <script src="@Url.Content("~/Content/js/jquery.min.js")"></script>
    <script src="@Url.Content("~/Content/js/bootstrap.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery.maskedinput.min.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery.validate.min.js")"></script>
    


    <style type='text/css'>
        * .backgroundLoader {
            display: none;
            width: 100%;
            height: 100%;
            z-index: 9000;
            padding: 0px;
            margin: 0px;
            background: #333;
            opacity: 0.6;
            position: fixed;
            top: 0px;
            left: 0px;
            bottom: 0px;
            right: 0px;
            overflow: hidden;
        }

        .Preeloader {
            display: none;
            border-top: solid 1px #000;
            border-bottom: solid 1px #000;
            position: absolute;
            top: 50%;
            background-color: white;
            z-index: 100;
            height: 220px;
            margin-top: -110px;
            padding-top: 20px;
            z-index: 9001;
            width: 100%;
        }
    </style>

    <script type="text/javascript">
        function ShowPreloader() {
            $(".backgroundLoader").show();
            $(".Preeloader").show();
        }
        function HidePreloder() {
            $(".backgroundLoader").hide();
            $(".Preeloader").hide();
        }
    </script>

</head>

<body>
    <div class="backgroundLoader">
       
    </div>
     <div class="Preeloader">
            <div align="center">
                <img src="@Url.Content("~/Content/img/carregando.GIF")" alt="Carregando..">
                <h2>Aguarde...</h2>
            </div>

        </div>
    <!-- Main Container start -->
    <div class="main-container">
        @RenderBody()
        <!--MODAL CADASTRO-->
        <div class="modal fade" id="showModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-original-title="">Fechar</button>
                        <h4 class="modal-title"><span class="fs1" aria-hidden="true" data-icon="">Cadastrar</span></h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-2 col-sm-3">
                                <div class="thumbnail">
                                    <img alt="300x200" src="http://bit.ly/1dqW8yO">
                                </div>
                            </div>
                            <div class="col-md-10 col-sm-9">
                                <form class="form-horizontal">
                                    <h3 class="heading-a">Dados empresa</h3>
                                    <div class="form-group">
                                        <label for="userName" class="col-sm-2 control-label">Cnpj</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="userName" placeholder="Cnpj">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="birthDate" class="col-sm-2 control-label">Nome</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="birthDate" placeholder="Nome" disabled="">
                                        </div>
                                    </div>

                                    <h3 class="heading-a">Dados funcionario</h3>
                                    <div class="form-group">
                                        <label for="emilId" class="col-sm-2 control-label">Nome</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="emilId" placeholder="seuemail@provedor.com">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="phone" class="col-sm-2 control-label">Email</label>
                                        <div class="col-sm-10">
                                            <input type="email" class="form-control" id="phone" placeholder="Email">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="skypeId" class="col-sm-2 control-label">Celular</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="skypeId" placeholder="Celular">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="skypeId" class="col-sm-2 control-label">Usuario</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="skypeId" placeholder="Usuario">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="skypeId" class="col-sm-2 control-label">Senha</label>
                                        <div class="col-sm-10">
                                            <input type="password" class="form-control" id="skypeId" placeholder="********">
                                        </div>
                                    </div>



                                    <div class="form_submit clearfix" style="">
                                        <div class="row">
                                            <div class="col-sm-10 col-sm-offset-2">
                                                <input type="file" class="filestyle pull-left" data-buttontext="Foto perfil" data-classbutton="btn btn-primary" data-input="true">
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" data-original-title="">Cancelar</button>
                        <button type="button" class="btn btn-primary" data-original-title="">Entrar</button>
                    </div>
                </div>
            </div>
        </div>
        <!--FIM MODAL CADASTRO-->
    </div>


</body>

<script src="@Url.Content("~/Content/js/bootstrap-filestyle.min.js")"></script>



</html>
