﻿@using GDESK.CORE.UserControl
@using GDESK.WEB.Controllers
<!DOCTYPE html>


<html>


<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
    <link rel="shortcut icon" href="@Url.Content("~/Content/img/favicon.ico")">

    <script src="@Url.Content("~/Content/js/html5-trunk.js")"></script>

    <link href="@Url.Content("~/Content/icomoon/style.css")" rel="stylesheet">


    <!-- bootstrap css -->
    <link href="@Url.Content("~/Content/css/bootstrap.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/jquery.fileupload.css")" rel="stylesheet">

    <!-- custom css -->
    <link href="@Url.Content("~/Content/css/main.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/chosen.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/notificacao.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/jquery-te-1.4.0.css")" rel="stylesheet">



    <script src="@Url.Content("~/Content/js/jquery.min.js")"></script>

    <script src="@Url.Content("~/Content/js/bootstrap.js")"></script>

    <script src="@Url.Content("~/Content/js/countdown.min.js")"></script>

    <script src="@Url.Content("~/Content/js/jquery.maskedinput.min.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/chosen.jquery.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ttw-simple-notifications.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-te-1.4.0.min.js")"></script>



    <style type='text/css'>
        .icon img {
            width: 50px !important;
        }

        * .backgroundLoader {
            display: none;
            width: 100%;
            height: 100%;
            z-index: 9000;
            padding: 0px;
            margin: 0px;
            background: #333;
            opacity: 0.6;
            position: fixed;
            top: 0px;
            left: 0px;
            bottom: 0px;
            right: 0px;
            overflow: hidden;
        }

        #optional-dropdown ul li {
            background: #4372aa;
            border:none;
            border-radius:10px 10px 0px 0px;
            margin-right:2px;
        }

        #optional-dropdown .ativo {
            background: #fff;
        }

        .jqte {
            border: none !important;
            margin: 0px 0 5px 0 !important;
        }

        .ativo span, .ativo strong {
            color: #4372aa !important;
        }

        .informacao-color {
            color: rgb(79, 241, 255) !important;
        }

        #optional-dropdown ul li strong {
            padding: 0 5px;
            color: #ffffff;
        }
        
        
        #optional-dropdown ul li span {
            padding: 0 5px;
            color: #ffffff;
        }

        #optional-dropdown ul li:hover {
            background: #fff;
            border-radius: 10px 10px 0px 0px;
        }

            #optional-dropdown ul li:hover strong, #optional-dropdown ul li:hover span {
                color: #4372aa;
            }

        #NewsFeed {
            width: 500px;
            height: 100px;
            position: absolute;
            bottom: 30px;
            left: 0;
            z-index: 999;
            margin-left: 10px;
            display: none;
        }

        .Preeloader {
            display: none;
            border-top: solid 1px #000;
            border-bottom: solid 1px #000;
            position: absolute;
            top: 50%;
            background-color: white;
            z-index: 100;
            height: 220px;
            margin-top: -110px;
            padding-top: 20px;
            z-index: 9001;
            width: 100%;
        }
        .stuck {
            background: #2b2b2b;
            -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
            -ms-box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
            box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
            top: 0;
            position: fixed;
            z-index: 999 !important;
            width: 100%;
        }
    </style>



</head>

<body>

    <div class="backgroundLoader">
    </div>
    <div class="Preeloader">
        <div align="center">
            <img src="@Url.Content("~/Content/img/carregando.GIF")" alt="Carregando..">
            <h2>Aguarde...</h2>
        </div>

    </div>
    <!-- Header start -->
    <div id="NewsFeed">
        <div class="panel panel-primary">
            <div class="panel-heading">Gean Alexandre <em></em></div>
            <div class="panel-body" style="cursor: pointer">
                <div class="col-md-2 col-sm-3">
                    <div class="thumbnail">
                        <img alt="300x200" src="http://bit.ly/1dqW8yO">
                    </div>
                </div>
                <div class="col-md-10 col-sm-9" id="feedMensagem">
                </div>


            </div>
        </div>
    </div>
    
    <div id="TopoFixo">

        <header>

            <!-- Logo start -->
            <div class="logo">
                <a href="@Url.Action("Principal", "Chamado")"><img src="@Url.Content("~/Content/img/logo.png")" title="infodesk techonologies" /></a>
            </div>
            <!-- Logo end -->
            <div id="optional-dropdown">
                <ul id="Abas">
                    <li>
                        <a href="@Url.Action("Consultar", "Chamado")" data-original-title="">
                            <span class="fs1" aria-hidden="true" data-icon=""></span>
                        </a>
                    </li>
                    @foreach (var aba in Suporte.Abas)
                {
                        <li>
                            <button data-dismiss="alert" onclick="FecharAba(@aba,'@Url.Action("Responder", "Chamado", new { id = @aba })')" class="close" type="button" data-original-title="Chamado 01">
                                ×
                            </button>
                            <a data-toggle="modal" href="@Url.Action("Responder", "Chamado", new { id = @aba })">
                                <div class="icon">
                                    <span class="fs1" id="@string.Format("Chamado{0}", aba)" aria-hidden="true" data-icon=""></span><strong> CHAMADO #@aba</strong>
                                </div>
                            </a>
                        </li>
                }


                    <!--
                        <li>
                            <a href="#" data-original-title="">
                                <span class="fs1" aria-hidden="true" data-icon="">Online</span>
                                <span class="count-label"></span>
                            </a>
                            <ul>
                                <li>
                                    <a href="#" data-original-title=""><span class="fs1" aria-hidden="true" data-icon=""></span><span class="count-label"></span>Railson</a>
                                </li>
                                <li>
                                    <a href="#" data-original-title=""><span class="fs1" aria-hidden="true" data-icon=""></span><span class="count-label"></span>Rafael</a>
                                </li>
                                <li>
                                    <a href="#" data-original-title=""><span class="fs1" aria-hidden="true" data-icon=""></span><span class="count-label"></span>Ricardo</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" data-original-title="">
                                <span class="fs1" aria-hidden="true" data-icon="">Railson</span>
                                <span class="badge">1</span>
                            </a>

                        </li>-->
                </ul>
            </div>

            <!-- Mini navigation start -->
            <div id="mini-nav" class="hidden-phone">
                <ul>

                    @*<li class="hidden-sm">
                            <a href="#">
                                <span class="fs1" aria-hidden="true" data-icon="&#xe049;"></span>
                                <span class="count-label">5</span>
                            </a>
                            <ul>
                                <li>
                                    <a href="#"><span class="fs1" aria-hidden="true" data-icon="&#xe049;"></span>Messages</a>
                                </li>
                            </ul>
                        </li>*@
                    <li>
                        <a href="#">
                            <span class="text-label">@Suporte.UsuarioLogado.Nome </span><span class="fs1" aria-hidden="true" data-icon="&#xe088;"></span>
                        </a>
                        <ul class="user-summary">
                            <li>
                                <div class="summary">
                                    <div class="user-pic">
                                        <img src="@Url.Content(Suporte.UsuarioLogado.FileName)" />
                                    </div>
                                    <div class="basic-details">
                                        <h5 class="no-margin">@Suporte.UsuarioLogado.Nome.Split(' ')[0] </h5>
                                        <h5 class="no-margin">@Suporte.UsuarioLogado.Empresa.Split(' ')[0]</h5>
                                        @* <small>Sumaré, SP</small>*@
                                    </div>
                                    @*                                <div class="profile-progress">
                                            <div class="chart-progress" data-percent="50">
                                                50%
                                            </div>
                                        </div>*@
                                    <div class="clearfix"></div>
                                </div>
                            </li>
                            <li>
                                <button class="btn btn-xs btn-danger pull-right" onclick="location.href='@Url.Action("Deslogar", "Usuario")'">Sair</button>
                                <button class="btn btn-xs btn-primary pull-left" onclick="location.href='@Url.Action("Alterar","Usuario")'">Alterar dados</button>
                                <span class="clearfix"></span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- Mini navigation end -->
        </header>
        <!-- Header end -->
    </div>
    <!-- Main Container start -->
    <div class="main-container">

        <!-- Mian navigation start -->
        <div id="mainnav" class="hidden-phone">

            <!-- User pic start -->
            <div class="user-profile-pic">
                <img id="Avatar" src="@Url.Content(Suporte.UsuarioLogado.FileName)" alt="Slick Admin">
            </div>
            <!-- User pic end -->

            <ul>
                @*  <li>
                        <a href="#">
                            <div class="icon">
                                <span class="fs1" aria-hidden="true" data-icon="&#xe0a2;"></span>
                            </div>
                            Dashboard
                        </a>
                    </li>*@

                <li>
                    <a href="@Url.Action("Abrir", "Chamado")">
                        <div class="icon">
                            <span class="fs1" aria-hidden="true" data-icon="&#xe0b8;"></span>
                        </div>
                        Abrir Chamado
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Consultar", "Chamado")">
                        <div class="icon">
                            <span class="fs1" aria-hidden="true" data-icon="&#xe14a;"></span>
                        </div>
                        Chamados
                    </a>
                </li>

                @if (Suporte.UsuarioLogado.Analista)
                {
                    <li>
                        <a href="@Url.Action("Index", "Cadastro",new {area = "Analista"},null)">
                            <div class="icon">
                                <span class="fs1" aria-hidden="true" data-icon=""></span>
                            </div>
                            Cadastro
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Ferramentas",new {area = "Analista"},null)">
                            <div class="icon">
                                <span class="fs1" aria-hidden="true" data-icon=""></span>
                            </div>
                            Ferramentas
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "TimeSheet",new {area = "Analista"},null)">
                            <div class="icon">
                                <span class="fs1" aria-hidden="true" data-icon=""></span>
                            </div>
                            TimeSheet
                            
                            
                        </a>
                    </li>
                }
            </ul>
        </div>
        <!-- Mian navigation end -->
        <!-- Dashboard wrapper start -->
        <div class="dashboard-wrapper">

            <!-- Page title start -->
            <div class="row page-title">
                <h2>
                    @ViewBag.Header
                    <small>
                        <ul>
                            <li>Inicio</li>
                            <li>/</li>
                            <li>Chamado</li>
                            <li>/</li>
                            <li>@ViewBag.Header</li>
                        </ul>
                    </small>
                </h2>


                @RenderSection("pageTitle", false)

            </div>
            @RenderSection("SiderBarTop", false)
            <!-- Page title end -->
            <!-- CONTEUDO AQUI -->
            <div class="row">

                @RenderBody()
            </div>
            <!-- FIM CONTEUDO AQUI -->

        </div>
        <!-- Dashboard wrapper end -->


    </div>
    <!-- Main Container end -->




</body>

</html>

<script src="@Url.Content("~/Content/js/bootstrap-filestyle.min.js")"></script>


<script src="~/Scripts/jquery.signalR-1.1.4.js"></script>
<script src="~/signalr/hubs"></script>
<script src="~/Scripts/NewFeeds.js"></script>

<script type="text/javascript">

    var currentPage = "/" + (location.href.replace(/^(?:\/\/|[^\/]+)*\//, ""));

    function ShowPreloader() {
        $(".backgroundLoader").show();
        $(".Preeloader").show();
    }
    function HidePreloder() {
        $(".backgroundLoader").hide();
        $(".Preeloader").hide();
    }

    function Notificar(msg, analista, codigoChamado) {

        var tipo = analista ? 'notice' : 'warning';

        if ('@Suporte.UsuarioLogado.Analista' == 'False') return;
        $().toastmessage('showToast', {
            text: "<a style='color:#fff;text-decoration: underline' href='/Chamado/Responder/" + codigoChamado + "'> " + msg + "</a>",
            sticky: true,
            position: 'top-right',
            type: tipo
        });

        var notificarAba = '#Chamado' + codigoChamado;
        if (!$(notificarAba).length) return;
        setInterval(function () {
            $(notificarAba).addClass('informacao-color').fadeOut('slow');
            $(notificarAba).fadeIn('Slow');
        }, 10);
    }

    function FecharAba(codigoChamado, url) {
        $.post('/Geral/FecharAba', { codigoChamado: codigoChamado }).done(function () {

            if (currentPage == url)
                location.href = '@Url.Action("Consultar","Chamado")';
        });

    }

    $.each($('#optional-dropdown ul li a'), function () {

        if (currentPage == $(this).attr('href')) {
            $(this).parent().addClass('ativo');
        }

    });


    function AdicionarAba(codigoChamado) {
        $.post('/Geral/AdicionarAba', { codigoChamado: codigoChamado }).done(GerarAba(codigoChamado));
    }

    function GerarAba(codigoChamado) {
        debugger;
        var tag = "#Chamado" + codigoChamado;    

        if ($(tag).length) {
            alert('Essa aba já está aberta !');
            return;
        }

        var html = "";
        html += "<li>";
        html += "<button data-dismiss='alert' onclick='FecharAba(" + codigoChamado + ",'/Chamado/Responder/" + codigoChamado + "')' class='close'type='button'data-original-title='Chamado01'>";
        html += "×";
        html += "</button>";
        html += "<a data-toggle='modal' href='/Chamado/Responder/" + codigoChamado + "'>";
        html += "<div class='icon'>";
        html += "<span class='fs1' id='Chamado" + codigoChamado + "' aria-hidden='true' data-icon=''></span><strong> CHAMADO #" + codigoChamado + "</strong>";
        html += "</div>";
        html += "</a>";
        html += "</li>";

        $("#Abas").append(html);
    }
    
    
        $(window).bind('scroll', function () {

            if ($(window).scrollTop() == 0) {
                $('#TopoFixo').removeClass('stuck');
               
            }
            else {
                $('#TopoFixo').addClass('stuck');
            }
        });
</script>
